@font-face{
    font-family: 'Open Sans';
    src: url('~/fonts/OpenSans-Variable.ttf') format('truetype');
    src: url('~/fonts/OpenSans-Italic.ttf') format('truetype');
}
html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
hr {
    color: #b3b3b3;
}
.checked {
    color: orange;
}
.info-breathing {
    border-radius: 25px;
    width:20px;
    height: 20px;
    background-color: #17a2b8;
    animation: 1.6s infinite alternate ease-out breathing-color--info;
}
@keyframes breathing-color--info {
    from {
        background-color: #17a2b8;
    }

    to {
        background-color: #aae6f0;
    }
}
.flight-cancelled {
    border-radius: 25px;
    width: 20px;
    height: 20px;
    background-color: #EF5350;
}
.flight-done {
    border-radius: 25px;
    width: 20px;
    height: 20px;
    background-color: #12EB90;
}
.rating-box {
    position: relative;
    background: #fff;
    padding: 25px 50px 35px;
}

.rating-box header {
    font-size: 22px;
    color: #dadada;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.rating-box .stars {
    display: flex;
    align-items: center;
    gap: 25px;
}

.stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #ff9c1a;
}